<section class="pagina-corporativa">
  <h1>Sobre Nosotros</h1>
  <p>En
    <strong>TechShop</strong>, nacimos con la misión de acercar la mejor tecnología y hardware de
    vanguardia a programadores, gamers y entusiastas de la informática.</p>
  <p>Desde 2026, nos esforzamos por ofrecer un catálogo seleccionado con los más altos estándares de
    calidad y soporte personalizado.</p>
</section>