<section class="pagina-corporativa">
  <h1>Nuestras Sucursales</h1>
  <p>Ven a visitarnos y prueba los componentes en vivo en cualquiera de nuestros puntos de venta:</p>
  <ul class="lista-sucursales">
    <li>📍
      <strong>Sucursal Central:</strong>
      Av. Corrientes 1234, CABA, Argentina. (Lunes a Viernes 09:00 a 18:00hs)</li>
    <li>📍
      <strong>TechShop Norte:</strong>
      Las Heras 456, Córdoba. (Lunes a Sábados 10:00 a 20:00hs)</li>
  </ul>
</section>