{{! Un pie de página sencillo para cerrar la estructura del Layout. }}
<footer class="sitio-footer">
  <p>&copy; 2026 TechShop - Proyecto MERN Curso Backend. Todos los derechos reservados.</p>
</footer>