{{! Este será tu menú de navegación. Lo espectacular de ponerlo aquí es que si mañana agregas una pestaña nueva, solo la modificas en este archivo y aparecerá en todo el sitio web automáticamente. }}
<header class="sitio-header">
  <div class="logo">
    <a href="/">🚀 TechShop</a>
  </div>
  <nav class="navegacion">
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/products">Productos</a></li>
      <li><a href="/sobre-nosotros">Sobre Nosotros</a></li>
      <li><a href="/sucursales">Sucursales</a></li>
      <li><a href="/user/profile" class="enlace-perfil">👤 Mi Perfil</a></li>
      <li><a href="/contacto">Contacto</a></li>
    </ul>
  </nav>
</header>