{{!-- Este archivo contiene la estructura HTML5 obligatoria de cualquier página web. Fíjate cómo en el <body> llamamos a los partials con un signo de mayor {{> nombre}} y al contenido dinámico con tres llaves {{{body}}}. --}}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} | Mi E-Commerce</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    {{> header}}

    <main class="contenedor-principal">
        {{{body}}}
    </main>

    {{> footer}}

    <script src="/js/main.js"></script>
</body>
</html>